
<head>
    <title>@ViewData["Title"] Hakkımızda</title>
    <link rel="shortcut icon" href="/images/tesbihtanelogo.ico" type="image/x-icon">
    <link href="~/css/hakkımızda.css" rel="stylesheet" />
    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="about-section">
        <div class="about-section">
            <h1>Hakkımızda</h1>
            <p>TESBİHTANE 2019 yılında kurulmuş, e-ticaret sektöründe “Güvenli Alışveriş” prensibini ilke edinerek;</p>
            <p>gümüş takı sektörünün Türkiye’deki öncü firmalarından biri olmuştur.</p>
            <p>TESBİHTANE e-ticaret alanındaki büyümesini 2015 yılından sonra mağazalaşarak sürdürmüştür</p>
        </div>
        <div class="about-section">
            <p>TESBİHTANE kurulduğu günden bu yana, 340.000 üye sayısıyla 325.000 sipariş toplamıştır</p>
            <p>www.tesbihtane.com web sitemiz toplamda 44.500.000’un üstünde tekil ziyaretçiye ulaşmışt</p>
        </div>

        <div class="about-section"></div>
        <div class="about-section"></div>
        <a href="/Home/Product" class="btn btn-success">Geri Dön </a>
        <div class="about-section"></div>

    </div>
</body>