
<head>
    <title>@ViewData["Title"] İletişim</title>
    <link rel="shortcut icon" href="/images/tesbihtanelogo.ico" type="image/x-icon">
    <link href="~/css/hakkımızda.css" rel="stylesheet" />
    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>

<body>
    <div class="about-section">
        <h1>İletişim Bilgileri</h1>
        <p>E-Mail : tahaorhan39@gmail.com</p>
        <p>Telefon Numarası : 12345678910</p>
        <p>Konum</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1tM1d8EMcelPKXGzo5RmWtFL6tBsPaemk&ehbc=2E312F" width="640" height="480"></iframe>
        <br />
        <br />
        <a href="/Home/Product" class="btn btn-success">Geri Dön </a>

    </div>


</body>