body {
    background-color: black;
    color: white;
}

h1 {
    color: red;
}

h6 {
    color: red;
    text-decoration: underline;
}

button {
    background: #006699;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 120px;
    position: relative;
    right: -175px;
}
